html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #DBDFEA 50%, #ACB1D6 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}


.startBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: monospace;
    background: #394867;
    color: #DBDFEA;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.82);
    padding: 10px 30px;
    font-size: 40px;
    width: 200px;
    height: 100px;
    font-weight: bold;
    border : 2px solid rgba(54, 41, 41, 0.55);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.startBtn:hover{
    background: #DBDFEA;
    color: #394867;
    box-shadow: inset 0 0  10px rgba(0, 0, 0, 0.88);
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}


#board {
    position: absolute;
    display: table;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #394867;
    border-radius: 20px;

}

.row {
    display: table-row;
}

.cell{
    padding: 5px;
    display: table-cell;
    width: 12.5%;
    height: 12.5%;
    background-color: #394867;
    border: 2px solid rgba(33, 42, 62, 0.31);
}


#board .row .cell .innerPlace {
    border-radius: 50%;
    border: 3px solid #212A3E;
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.81);
}

#board .row:first-child .cell:first-child {
    border-top-left-radius: 20px;
}

#board .row:first-child .cell:last-child {
    border-top-right-radius: 20px;
}

#board .row:last-child .cell:first-child {
    border-bottom-left-radius: 20px;
}

#board .row:last-child .cell:last-child {
    border-bottom-right-radius: 20px;
}


#board .row .cell .innerPlace {
    margin-left: 2px;
}

.player-turn{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index:  999;
    margin-top: 330px;
    font-family: monospace;
    font-size: 30px;
    color: #394867;
    display: none;
}

#who{
    color: #f45050;
    font-weight: bolder;
    width: fit-content;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.81);
    border-radius: 40%;
    background-color: #50577A;

}
