html {
    height: 100%;
}

body {
    margin: 0;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #DBDFEA 50%, #ACB1D6 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}


.startBtn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #5C469C;
    padding: 10px 30px;
    font-size: 30px;
    border : 2px solid rgba(54, 41, 41, 0.55);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    color: #FFF7D4;
}

.startBtn:hover{
    background: #FFF7D4;
    color: #5C469C;
}

h1 {
    font-family: monospace;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}


#board {
    position: absolute;
    border-collapse: collapse;
    display: table;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #394867;
    border: 3px solid #212A3E;

}

.row {
    display: table-row;
}

.cell{
    padding: 5px;
    display: table-cell;
    width: 12.5%;
    height: 12.5%;
    background-color: #394867;
    border: 3px solid #212A3E;
}


#board .row .cell .innerPlace {
    border-radius: 50%;
    border: 3px solid #212A3E;
    width: 90%;
    height: 90%;
    background-color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

#board .row .cell .innerPlace {
    margin-left: 2px;
}